[submodule "packages/sidetree-core"]
	path = packages/sidetree-core
	url = https://github.com/decentralized-identity/sidetree-core.git
[submodule "packages/sidetree-bitcoin"]
	path = packages/sidetree-bitcoin
	url = https://github.com/decentralized-identity/sidetree-bitcoin.git
[submodule "packages/sidetree-ethereum"]
	path = packages/sidetree-ethereum
	url = https://github.com/decentralized-identity/sidetree-ethereum.git
[submodule "packages/sidetree-ipfs"]
	path = packages/sidetree-ipfs
	url = https://github.com/decentralized-identity/sidetree-ipfs.git
